header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blue;
  font-size: large;
}

main {
  color: blue;
  display: block;
  max-width: 800px;
}

footer {
  color: blue;
  display: flex;
  align-items: flex-end;
  height: 400px;
}
